<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/dashboard">Dashboard</a></li>

        {{#if isLoggedIn}}
            <li>Logged in as {{username}} <a href="/logout">Logout</a></li>
        {{else}}
            <li><a href="/login">Login</a></li>
        {{/if}}

    </ul>
 
    <h1>Techpress</h1>

    <main class="container">
    {{{ body }}}
    </main>


    

</body>
</html>