<h1>Edit Post</h1>
<form>
    <div class="mb-3">
        <label class="form-label" for="title">Title:</label>
        <input class="form-control" type="text" name="title" id="title" value="{{post.title}}">
    </div>
    <div class="mb-3">
        <label class="form-label" for="body">Body:</label>
        <textarea class="form-control" id="body" name="body">{{post.body}}</textarea>
    </div>
    <button class="btn btn-primary" id="submit">Submit</button>
</form>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    document.getElementById('submit').addEventListener('click', event => {
        event.preventDefault();

        let data = {
            title: document.getElementById('title').value,
            body: document.getElementById('body').value
        }

        let headers = {
            'Authorization': `Bearer ${localStorage.token}`
        }

        axios.put('/api/post/{{post.id}}', data, {headers: headers}).then(res => {
            console.log("Success!");
            location = `/post/{{post.id}}`;
        }).catch(err => {
            console.log(err);
        })
    })
</script>