
<h2>Login</h2>
<p>If you don't have an account, you can <a href="/register">register here</a>.</p>
<form>
    <div class="mb-3">
        <label for="username" class="form-label">Username:</label>
        <input type="text" name="username" class="form-control" id="username">
    </div>
    <div class="mb-3">
        <label class="form-label" for="password">Password</label>
        <input type="password" class="form-control" name="password" id="password">
    </div>
    <button class="btn btn-primary" id="login">Login</button>
</form>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>

    document.getElementById('login').addEventListener('click', event => {
        event.preventDefault()

        let data = {
            username: document.getElementById('username').value,
            password: document.getElementById('password').value
        }
        axios.post('/api/user/login', data).then(res => {
            localStorage.setItem('username', res.data.username);
            localStorage.setItem('token', res.data.token);
            location = '/dashboard';
        }).catch(err => {
            console.log(err);
        })
    })

</script>